<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteTextBox" version="1.6.0" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net48" />
  <package id="MarkupConverter" version="1.0.6" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.4" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.35.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.18.4" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net471" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1449.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Assessment" version="1.0.305" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Assessment.Authoring" version="1.0.282" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="161.47008.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="MJPEG-Decoder" version="1.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Notification.Wpf" version="6.1.0.5" targetFramework="net48" />
  <package id="NPOI" version="2.5.6" targetFramework="net48" />
  <package id="Ookii.Dialogs.Wpf" version="5.0.1" targetFramework="net472" />
  <package id="Osklib" version="1.6.0" targetFramework="net48" />
  <package id="Osklib.Wpf" version="1.6.0" targetFramework="net48" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="RawPrint" version="0.5.0" targetFramework="net48" />
  <package id="SendGrid" version="9.28.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net48" />
  <package id="starkbank-ecdsa" version="1.3.3" targetFramework="net48" />
  <package id="SuperSimpleTcp" version="2.6.0.8" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.8.0" targetFramework="net472" />
  <package id="System.Linq.Dynamic" version="1.0.8" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Core" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Windows.Threading" version="4.4.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net472" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net472" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net472" />
</packages>